<div class="container">
  <a routerLink="/product/{{ product.id }}">
    <img
      *ngIf="product.url"
      [src]="product.url"
      [alt]="product.name"
    >
  </a>
  {{ product.name }}
  <span>
    ${{ product.price }}
  </span>
  <form class="container" (ngSubmit)="handleSubmit()">
    <select
      name="quantity"
      id="product-quantity-{{ product.id }}"
      [(ngModel)]="quantity"
    >
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <button type="submit">Add to cart</button>
  </form>
</div>