.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 32px;

  font-size: 42px;

  button {
    background-color: #eee;
    padding: 8px 16px;
    border: 2px solid #666;
    border-radius: 8px;
    font-family: 'Reenie Beanie', cursive;
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
    transition: 0.2s all ease;

    &:hover {
      background-color: #fff;
      border-color: aqua;
    }
  }
}