@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&family=Roboto+Condensed:wght@300&display=swap');

body {
  margin: 0;
  background-color: #222;
  color: white;
  font-family: 'Reenie Beanie', cursive;
}

button {
  background-color: #eee;
  padding: 8px 16px;
  border: 2px solid #666;
  border-radius: 8px;
  font-family: 'Reenie Beanie', cursive;
  font-size: 16px;
  font-family: 'Roboto Condensed', sans-serif;
  transition: 0.2s all ease;

  &:hover:not(:disabled) {
    background-color: #fff;
    border-color: aqua;
  }

  &:disabled {
    background-color: #bbb;
  }
}

.root {
  margin: 5% 12.5%;
}