@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&family=Roboto+Condensed:wght@300&display=swap');

body {
  margin: 0;
  background-color: #222;
  color: white;
  font-family: 'Reenie Beanie', cursive;
}

.root {
  margin: 5% 12.5%;
}