.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;

  & > div {
    flex-basis: calc(33% - 16px);
    text-align: center;
    font-size: 32px;
  }
}