.container {
  display: flex;
  gap: 32px;

  img {
    width: 120px;
    border-radius: 8px;
  }
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;

  font-size: 32px;

  button {
    padding: 4px 8px;
  }
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}